.intro-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin-top: 150px;
  width: 95%;
}

.header-title {
  height: 100px;
}

#greeting {
  font-size: 24px;
  margin: 12px 0px;
  white-space: nowrap;
  padding: 10px 0px;
  color: #6eacda;
}

#name {
  font-size: 60px;
  margin: 12px 0px;
  padding: 5px 0px;
  color: #e2e2b6;
}

.bio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin-top: 100px;
  width: 95%;
}

.career-field {
  font-size: 24px;
  white-space: nowrap;
  padding: 30px 50px;
  color: #e2e2b6;
  border-right: 3px solid #e2e2b6;
  display: flex;
  align-items: center;
}

.bio-content {
  color: #6eacda;
  width: 90%;
  padding-left: 50px;
}

/*Medium Screens (tablets)*/
@media (max-width: 1199px) and (min-width: 768px) {
  .intro-container {
    margin-top: 125px;
  }

  #name {
    font-size: 55px;
  }

  .career-field {
    border-right: 3px solid #e2e2b6;
  }

  .bio-content {
    width: 90%;
  }
}

/*Small screens (phones, etc.)*/
@media (max-width: 767px) {
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    gap: 0;
  }

  .header-title {
    padding-bottom: 0;
    height: auto;
  }

  #greeting {
    font-size: 24px;
    margin: 0;
  }

  #name {
    font-size: 40px;
    margin: 0;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 75px;
  }

  .career-field {
    border-right: none;
    padding: 20px 50px;
    border-bottom: 3px solid #e2e2b6;
  }

  .bio-content {
    padding: 0;
    width: 90%;
  }
}

/* smallest screens */
@media (max-width: 575px) {
  #name {
    font-size: 30px;
  }

  .career-field {
    padding: 20px 25px;
  }

  .bio-content {
    width: 90%;
    font-size: 20px;
  }
}
